<div class="container background">

<h1>Emotion Detector</h1>
<p>Our advanced AI analyzes your emotions in real-time, providing insights into your current mood. Use this understanding to guide personalized exercises and enhance emotional well-being.</p>

<div class="gauge-chart-legend">
  <!-- <ngx-charts-gauge
    *ngIf="speedIndex"
    [view]="[400, 400]"
    [scheme]="colorScheme"
    [results]="gaugeData"
    [min]="0"
    [max]="100"
    [units]="'%'">
  </ngx-charts-gauge> -->
</div>

<button (click)="improveMentalScore()">Improve Your Mental Score</button>
<button (click)="goBack()" class="back-button">Back</button>

</div>